* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240; /* card */
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: 'Noto Sans', 'Inter', 'San Francisco', 'SF Pro Text',
    -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lightest-slate);
  line-height: 1.1;
  font-weight: 600;
  margin: 0px 0px 10px;
}

p {
  color: var(--slate);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 0px 15px;
}

h3 {
  color: var(--slate);
}

.big-heading {
  margin: 0px;
  font-size: clamp(25px, 6vw, 65px);
  text-align: left;
}

.big-heading-alt {
  margin-top: 10px;
  font-size: clamp(25px, 6vw, 60px);
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

/* END OF GLOBALS */

/* HEADER */

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  max-width: 1600px;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .header-scrollY {
    height: var(--nav-scroll-height);
    transform: translateY(calc(var(--nav-scroll-height) * -1));
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }

  .header-scrollX {
    height: var(--nav-height);
  }
}

/* END OF HEADER */

/* MAIN */

main {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
  counter-reset: section 0;
}

main.fillHeight {
  padding: 0px 150px;
}

/* NAVIGATION */

nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

/* HERO */

.hero {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  width: 100%;
}

.hero-description {
  text-align: left;
  margin-top: 20px;
  font-weight: 400;
  margin: 20px 0px 0px;
  max-width: 540px;
  line-height: 1.5;
}

@media (max-height: 800px) {
  .hero {
    min-height: auto;
    padding-top: calc(var(--nav-height) + 30px);
  }
}

.hero-button:hover {
  background-color: var(--green);
}

.hero-button {
  color: var(--green);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 50px;
  text-transform: capitalize;
}

.hero-button:hover {
  background-color: var(--green-tint);
}

/* END OF HERO */

/* NAV LINKS */

.links {
  display: none;
}

ol {
  list-style-type: decimal;
}

li {
  text-align: -webkit-match-parent;
}

.links li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.links li {
  margin: 0px 10px;
  counter-increment: item 1;
  font-size: var(--fz-xs);
}

.links li a {
  padding: 10px;
  text-transform: capitalize;
}

.links li a::before {
  content: '0' counter(item) '.';
  margin-right: 5px;
  color: var(--green);
  font-size: var(--fz-xxs);
  text-align: right;
}

/* END OF NAV LINKS */

/* SOCIAL LINKS */

.social-links-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 25px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}

.social-links {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social-links li a {
  padding: 10px;
}

.social-links li a:hover,
.social-links li a:focus {
  transform: translateY(-3px);
}

.social-links::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.email-link-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 25px;
  z-index: 10;
  color: var(--light-slate);
}

.email-link-container::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.email-link a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* SOCIAL LINKS */

/* Min Widths */

/* 768px */

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .links {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

/* Max Widths */

/* 1080px */

@media (max-width: 1080px) {
  .header {
    padding: 0px 40px;
  }

  main {
    padding: 200px 100px;
  }

  main.fillHeight {
    padding: 0px 100px;
  }

  .social-links-container {
    left: 10px;
    right: auto;
  }

  .email-link-container {
    right: 10px;
    left: auto;
  }
}

/* 768px */

@media (max-width: 768px) {
  .header {
    padding: 0px 25px;
  }

  section {
    padding: 80px 0px;
  }

  .email-link-container,
  .social-links-container {
    display: none;
  }

  main {
    padding: 150px 50px;
  }

  main.fillHeight {
    padding: 0px 50px;
  }
}

/* 480px */

@media (max-width: 480px) {
  main.fillHeight {
    padding: 0px 25px;
  }

  main {
    padding: 125px 25px;
  }

  section {
    padding: 60px 0px;
  }
}

@media (max-width: 480px) and (min-height: 700px) {
  .hero {
    padding-bottom: 10vh;
  }
}

/* ABOUT SECTION */

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(23px, 5vw, var(--fz-lg));
  white-space: nowrap;
}

.numbered-heading::before {
  position: relative;
  bottom: -1px;
  counter-increment: section 1;
  content: '0' counter(section) '.';
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
  font-weight: 400;
}

@media (max-width: 1080px) {
  .numbered-heading::after {
    width: 200px;
  }
}

.numbered-heading::after {
  content: '';
  display: block;
  position: relative;
  top: -1px;
  width: 250px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

#about {
  max-width: 900px;
}

#about p {
  line-height: 1.5;
  font-size: var(--fz-md);
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

ul.skills-list li::before {
  content: '▹';
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.image-container {
  position: relative;
  max-width: 300px;
  transition: var(--transition);
}

.image-container .wrapper {
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: var(--transition);
  display: block;
  position: relative;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--green);
}

.image-container .wrapper::before {
  top: 0px;
  left: 0px;
  background-color: var(--navy);
  mix-blend-mode: screen;
}

.image-container .wrapper::after {
  border: 2px solid var(--green);
  top: 20px;
  left: 20px;
  z-index: -1;
}

.image-container .wrapper::before,
.image-container .wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: var(--transition);
  filter: grayscale(1);
}

.image-container:hover .wrapper::after {
  top: 10px;
  left: 10px;
}

.image-container:hover .wrapper img {
  filter: grayscale(0);
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .image-container {
    margin: 0px auto 50px;
  }
}

/* EXPERIENCE */

#experience {
  max-width: 700px;
}

.flex-container {
  display: flex;
  gap: 1.2rem;
}

.btn-container {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}

.job-desc p {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.job-desc p::before {
  content: '▹';
  position: absolute;
  left: 0px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}

.job-btn {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

.job-btn:hover,
.job-btn:focus {
  background-color: var(--light-navy);
}

.job-btn:hover,
.job-btn:active,
.job-btn:focus {
  color: var(--green);
  outline: 0px;
}

.job-info {
  position: relative;
  width: 100%;
  font-family: var(--font-sans);
  font-size: var(--fz-lg);
}

.job-info h3 {
  font-family: 'Inter', sans-serif;
  margin-right: 0.5rem;
  color: var(--lightest-slate);
}

.job-date {
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

.active-btn {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--green);
  background-color: transparent;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  background-color: var(--light-navy);

  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.active-btn:hover,
.active-btn:active,
.active-btn:focus {
  color: var(--green);
  outline: 0px;
}

.active-btn:hover,
.active-btn:focus {
  background-color: var(--light-navy);
}

@media (max-width: 768px) {
  .active-btn {
    padding: 0px 15px 2px;
  }
}

@media (max-width: 600px) {
  .flex-container {
    display: block;
  }

  .btn-container {
    display: flex;
    overflow-x: auto;
    width: calc(100% + 100px);
    padding-left: 50px;
    margin-left: -50px;
    margin-bottom: 30px;
  }

  .job-btn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 120px;
    padding: 0px 15px;
    border-left: 0px;
    border-bottom: 2px solid var(--lightest-navy);
    text-align: center;
  }

  .active-btn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 120px;
    padding: 0px 15px;
    border-left: 0px;
    border-bottom: 2px solid var(--lightest-navy);
    text-align: center;
  }
}

@media (max-width: 480px) {
  .btn-container {
    width: calc(100% + 50px);
    padding-left: 25px;
    margin-left: -25px;
  }
}

a.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}

a.inline-link::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: var(--green);
  transition: var(--transition);
  opacity: 0.5;
}

/* WORKS */
